# Ignorar dependencias
/vendor
composer.lock

# Ignorar logs
/storage/logs/*
!/storage/logs/.gitkeep

# Ignorar cachés y archivos generados
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/bootstrap/cache/*
/public/storage

# Ignorar archivos generados por Spatie Media Library
/storage/app/public/content_files/*
/storage/app/public/assignment_submissions/*
!/storage/app/public/content_files/.gitignore
!/storage/app/public/assignment_submissions/.gitignore

# Ignorar archivos de entorno
.env
.env.backup

# Ignorar archivos temporales
*.log
*.cache
*.swp

# Ignorar herramientas de desarrollo
.phpstorm.meta.php
.idea/
*.code-workspace

# Ignorar archivos de macOS
.DS_Store